-r requirements.txt
black==25.1.0
flake8==7.2.0
hatch-requirements-txt==0.4.1
isort==6.0.1
mypy==1.15.0
opencv-python==4.11.0.86
pre-commit==4.2.0
pytest==8.3.5
pytest-cov==6.1.1
types-boto3==1.42.85
types-pika-ts==1.3.0.20260508
types-psutil==7.0.0.20251116
types-PyYAML==6.0.2
types-requests==2.32.4.20250611
