[Unit]
Description=This service starts OTCamera and keeps it running
After=rc-local.service

[Service]
User=username
WorkingDirectory=/path/to/otcamera
Restart=always
RestartSec=3
ExecStart=path/to/python run.py
Type=idle


[Install]
WantedBy=multi-user.target
