[Unit]
Description=This service starts OTCamera and keeps it running

[Service]
User=pi
WorkingDirectory=/home/pi/OTCamera
Restart=always
RestartSec=3
ExecStart=/bin/bash -c 'cd /home/pi/OTCamera/ && source .venv/bin/activate && python run.py'


[Install]
WantedBy=multi-user.target
